<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutUs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>
  {%include 'summercamp/header.html' %}
    <div class="card mb-3">
        <img class="card-img-top" src="../static/summercamp/images/camp_pic4.jpg" style="width: 1300px;height:350px;" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Summer Camp</h5>
          <p class="card-text">The primary purpose of many camps is educational, athletic, or cultural development. A summer camp environment may allow children to learn new skills in a safe and nurturing environment. Summer camp experience can have a lasting psychological impact on the development of a child.</p>
        </div>
        <!-- <i class='fas fa-umbrella-beach' style='font-size:36px'></i> -->
    </div>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>      
</body>
</html>