<style>
    .myfont{
        font-family: 'Sans-Serif';
        /* text-align: center; */
        font-size:50px;
        color: blue;
        margin-top: 0px;
    }
  .nav-link{
      color:blue!important;
      font-family:Comic Sans Ms;
      font-size: 20px;
  }
  .dropdown-item{
      color:blue!important;
      font-family:Comic Sans Ms;
      font-size: 20px;

  }
  .navbar-brand{
      color:blue!important;
      font-size: 20px;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Summer Camp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{'/'}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{'about'}}">AboutUs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{'events'}}">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{'program'}}">Program Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{'feedback'}}">Feedback</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{'employment'}}">Employment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{'query'}}">Query</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{'registration'}}">Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{'login'}}">Login</a>
          </li>
      </div>
    </div>
  </nav>